<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">Lista de productos</h1>
        <ul class="list-group mb-4">
            {{#each products}}
            <li class="list-group-item">
                <h2>{{this.title}}</h2>
                <p><strong>Descripción:</strong> {{this.description}}</p>
                <p><strong>Precio:</strong> ${{this.price}}</p>
                <p><strong>Código:</strong> {{this.code}}</p>
                <p><strong>Stock:</strong> {{this.stock}}</p>
                <p><strong>Categoría:</strong> {{this.category}}</p>
            </li>
            {{/each}}
        </ul>
    </div>
</body>
</html>
